@import 'colors';
@import 'mixins';

.button {
    text-transform: uppercase;
    padding: 2rem 10rem;
    border-radius: 2.5rem;
    height: 5rem;
    letter-spacing: 1px;
    line-height: 1;
    font-weight: 700;
    width: fit-content;
    @include hover-zoom(1.01);

    &--primary {
        @extend .button;
        background-color: $primary-color;
        &:hover {
            background-color: $primary-color-dark;
        }
    }
}
