// Grays
$gray-100: #e9e9e9; // 233
$gray-200: #d3d3d3; // 211
$gray-300: #bdbdbd; // 189
$gray-400: #a7a7a7; // 167
$gray-500: #919191; // 145
$gray-600: #7b7b7b; // 123
$gray-700: #656565; // 101
$gray-800: #4f4f4f; // 79
$gray-900: #393939; // 57
$black: #232323; // 35

// Primary Colors
$primary-dark: #3d5782;
$primary-color: #496fa5;
$primary-light: #89a9d4;
