@mixin text-overflow-ellipsis($lines: 1) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
}

@mixin gap-margin($gap) {
    > *:not(:last-child) {
        margin-bottom: $gap;
    }
}

@mixin hover-zoom {
    transition: transform 0.15s ease-in 0s;
    &:hover {
        transform: scale(1.03);
        transition: transform 0.15s ease-in 0s;
    }
}
